.title-rotation {
  /* width: 100%;
  height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* padding: 5rem; */
}

.title-rotation__title {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 110%;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
    will-change: transform;
    color: #373737;
    padding: .8rem;
}

@media (min-width: 576px) {
  .title-rotation__title {
    font-size: 34px;
    padding: 70px;
}
}
@media (min-width: 768px) {
  .title-rotation__title {
    font-size: 58px;
}
}
@media (min-width: 992px) {
  .title-rotation__title {
    /* font-size: 82px; */
}
}
@media (min-width: 1200px) {
  .title-rotation__title {
    font-size: 82px;
}
}

