.title-rotation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.title-rotation::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 340px;
    height: 340px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzMwIiBoZWlnaHQ9IjczMCIgdmlld0JveD0iMCAwIDczMCA3MzAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGZpbHRlcj0idXJsKCNmaWx0ZXIwX2ZfMF80MCkiPgo8Y2lyY2xlIGN4PSIzNjUiIGN5PSIzNjUiIHI9IjI4OSIgZmlsbD0iI0ZGQ0I0NiIvPgo8L2c+CjxkZWZzPgo8ZmlsdGVyIGlkPSJmaWx0ZXIwX2ZfMF80MCIgeD0iMCIgeT0iMCIgd2lkdGg9IjczMCIgaGVpZ2h0PSI3MzAiIGZpbHRlclVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY29sb3ItaW50ZXJwb2xhdGlvbi1maWx0ZXJzPSJzUkdCIj4KPGZlRmxvb2QgZmxvb2Qtb3BhY2l0eT0iMCIgcmVzdWx0PSJCYWNrZ3JvdW5kSW1hZ2VGaXgiLz4KPGZlQmxlbmQgbW9kZT0ibm9ybWFsIiBpbj0iU291cmNlR3JhcGhpYyIgaW4yPSJCYWNrZ3JvdW5kSW1hZ2VGaXgiIHJlc3VsdD0ic2hhcGUiLz4KPGZlR2F1c3NpYW5CbHVyIHN0ZERldmlhdGlvbj0iMzgiIHJlc3VsdD0iZWZmZWN0MV9mb3JlZ3JvdW5kQmx1cl8wXzQwIi8+CjwvZmlsdGVyPgo8L2RlZnM+Cjwvc3ZnPgo=);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.title-rotation__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 110%;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
    will-change: transform;
    color: #373737;
    padding: .8rem;
    margin: 0;
}

@media (min-width: 576px) {
    .title-rotation__title {
        font-size: 34px;
        padding: 40px 70px;
    }

    .title-rotation::before {
        width: 558px;
        height: 558px;
    }
}

@media (min-width: 768px) {
    .title-rotation__title {
        font-size: 58px;
    }
}

@media (min-width: 1200px) {
    .title-rotation__title {
        font-size: 82px;
    }

    .title-rotation::before {
        width: 654px;
        height: 654px;
    }  
}
