.text-diagonal {
    /* position: relative; */
    position: absolute;
    bottom: 30px;
    display: block;
    width: 100%;
    font-size: 2em;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    /* animation-name: anim-1; */
    transform: rotate(-45deg);
    background-color: red;
}
/* .text-diagonal {
    position: relative;
    font-family: 'Grtsk Giga';
    font-style: italic;
    font-weight: 700;
    font-size: 52px;
    line-height: 110%;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.1;
    overflow: hidden;
} */

/* .text-diagonal__top {
    position: absolute;
    display: block;
    top: 2em;
    width: 100%;
    font-size: 2em;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-name: anim-1;
} */

/* @keyframes anim-1 {
    0%, 8.3% { left: -100%; opacity: 0; }
    8.3%,25% { left: 25%; opacity: 1; }
    33.33%, 100% { left: 110%; opacity: 0; }
  } */
@keyframes anim-1 {
    0% { left: -100%; opacity: 1; }
    /* 8.3%,25% { left: 25%; opacity: 1; } */
    100% { left: 100%; opacity: 1; }
  }