.text-diagonal {  
    position: fixed;  
    top: 100%; 
    left: 0; 
    transform: rotate(-45deg) translate(0%, -50%); 
    transform-origin: top left;  
    width: 250%;  
    transition: all .3s;  
    overflow: hidden;  
}

.text-diagonal__top {
   display: flex;
   width: 160%;
   animation: diagonal-anim-right 25s linear infinite;
}

.text-diagonal__bottom {
   display: flex;
   width: 160%;
   animation: diagonal-anim-left 25s linear infinite;
   margin-top: 1.3rem;
}

.text-diagonal__text {
    white-space: nowrap;
    width: 100%;
    font-style: italic;
    font-weight: 700;
    font-size: 28px;
    line-height: 110%;
    text-align: center;
    text-transform: uppercase;
    /* color: #BEBEBE; */
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    -webkit-text-stroke: 1px rgba(55, 55, 55, .2);         
    color: transparent;
}

@keyframes diagonal-anim-right {
    0% { transform: translateX(-50%); }
	100% { transform: translateX(0%); }
}
 
@keyframes diagonal-anim-left {
	0% { transform: translateX(0%); }
	100% { transform: translateX(-50%); }
}

@media (min-width: 576px) {
    .text-diagonal__text {
        font-size: 42px;
    }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
 
}

@media (min-width: 1200px) {
    .text-diagonal__text {
        font-size: 52px;
    }
}
