.navbar {

}

.navbar__logo {
    position: fixed;
    left: 50%;
    top: 18px;
    transform: translateX(-50%);
    z-index: 11;
    width: 46px;
}

.navbar__logo-path {
    filter: url(#violet-fill);
}

.navbar__lang {
    position: fixed;
    left: 1rem;
    top: 1rem;
    z-index: 11;
    cursor: pointer;
}

.navbar__lang:hover .navbar__lang-btns{
   width: 100px;
}

.navbar__lang-menu {
    position: relative;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 50%;
    padding: 7px;
}

.navbar__lang-btns {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: 0;
    transition: all .3s;
    overflow: hidden;
    background: #FFCB46;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
}

.navbar__lang-btn {
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    color: #373737;
    background: transparent;
    border: none;
    transition: all .3s;
}

.navbar__lang-btn:hover {
    color: #fff;
    cursor: pointer;
}

.navbar__link {
    position: fixed;
    display: none;
    font-family: 'Grtsk Giga';
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    color: #373737;
    z-index: 11;
    transition: all .3s ease-in;
}

.navbar__link:hover {
    color: #fff;
}

.navbar__link.active {
    color: #fff;
}

.navbar__link::before {
    content: '';
    display: inline;
    width: 0%;
    height: 0.2em;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    transition: width .3s ease-in;
}
  
.navbar__link:hover::before,
.navbar__link:focus::before {
    width: 100%;
}

.navbar__link-left {
    left: 0px;
    top: 50%;
    transform: rotate(-90deg) translateY(-50%);
    padding-top: .9rem;
}

.navbar__link-right {
    right: 0px;
    top: 50%;
    transform: rotate(90deg) translateY(-50%);
    padding-top: .9rem;
}

.navbar__link-bottom {
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: .9rem;
}

.navbar__menu-mob {
    position: fixed;
    top: 11px;
    right: 10px;
    z-index: 11;
}

.navbar__mob-toggle {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.navbar__mob-toggle-icon {
    width: 22px;
    height: 8px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.navbar__mob-link-wrap .MuiMenu-paper {
    right: 5% !important;
    left: 5% !important;
}

@media (min-width: 576px) {
    .navbar__link {
        display: inline-block;
    }

    .navbar__logo {
        width: 68px;
    }

    .navbar__menu-mob {
       display: none;
    }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
   
}

@media (min-width: 1200px) {
    .navbar__logo {
        width: 83px;
    }
}